@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global Styles */
body{
  overflow-x:hidden;  /* This will hide any content that overflows the width of the viewport (the browser window). */
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  width: 0;
  position: relative;
  background-color: black;
  color: white;

}
.panel{
  height: 100vh;
  width: 100%;
}


html {
  scroll-behavior: smooth;
  /* This prevents the header from covering your section titles */
  scroll-padding-top: 80px; 
}

/* Optional: Ensure body allows scrolling */
body {
  overflow-x: hidden;
  width: 100%;
}

